<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">

  {%- include head.html -%}
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

	<div class="home" >

	  <center>

	    <img src="{{site.baseurl}}/images/fulleren.png" width="100px" style="padding-bottom: 50px;padding-top: 20px;">
	    
	    <h1 class="page-heading" style="font-family:Tangerine;font-size:96px;font-weight:400;line-height:50%;">Rabatz</h1>
	    
	    <svg height="20" width="204">
	      <line x1="2" y1="2" x2="202" y2="2" style="stroke:rgb(0,0,0);stroke-width:1.2" />
	      <line x1="10" y1="6" x2="194" y2="6" style="stroke:rgb(0,0,0);stroke-width:1.2" />
	      <circle cx="2" cy="2" r="1.5" fill="black" />
	      <circle cx="202" cy="2" r="1.5" fill="black" />
	      <circle cx="10" cy="6" r="1.5" fill="black" />
	      <circle cx="194" cy="6" r="1.5" fill="black" />
	    </svg> 
	    
	    <p style="font-family:Tangerine;font-size:32px;line-height:50%;padding-bottom: 20px;">
	      Kickermanufaktur</p>
	    
	    <style type="text/css">
	      #wrap {
		  width:100%;
		  margin:0 auto;
	      }
	      #left_col {
		  float:left;
		  width:33%;
	      }
	      #right_col {
		  float:right;
		  width:33%;
	      }
	    </style>
	    
	    <div id="wrap">
	      <div id="left_col">
		<img src="{{site.baseurl}}/images/kicker/esche_top.png" height="200px" style="object-fit: contain;"><br>
	      </div>
	      <div id="left_col">
		<li>Gestaltung und Konstruktion</li><br>
		<li>Verleih</li><br>
		<li>Turnierorganisation</li><br>
		<li>Workshops</li>
	      </div>
	      <div id="right_col">
		<img src="{{site.baseurl}}/images/kicker/kiefer_top.png" height="200px" style="object-fit: contain;"><br>
	      </div>
	    </div>
	   
	  </center>
	  
	</div>

      </div>

      <br>
      
      <div class="wrapper">

	<center>
	  <svg height="4" width="204">
	    <line x1="52" y1="2" x2="152" y2="2" style="stroke:rgb(0,0,0);stroke-width:1.2" />
	    <circle cx="52" cy="2" r="1.5" fill="black" />
	    <circle cx="152" cy="2" r="1.5" fill="black" />
	  </svg>
	  <br>
	  <br>
	  
	  <h1 class="page-heading" style="font-family:Tangerine;font-size:72px;font-weight:400;line-height:80%;">Topaktuell</h1>
	
	  <div style="width:100%;">
	    <a class="page-link" href="/ausstellung/2020/01/27/VulcaSeminar.html">Vulca Seminar 2020 in Kroatien<br><br></a>
	    <a class="page-link" href="/auszeichnung/2019/09/07/FutureSAX.html">Ausgezeichnet als innovatives Gründungsvorhaben<br><br></a>
	    Mehr in <a class="page-link" href="/Aktuelles/">Aktuelles</a>
	  </div>

	  <svg height="4" width="204">
	    <line x1="52" y1="2" x2="152" y2="2" style="stroke:rgb(0,0,0);stroke-width:1.2" />
	    <circle cx="52" cy="2" r="1.5" fill="black" />
	    <circle cx="152" cy="2" r="1.5" fill="black" />
	  </svg>
	  <br>
	  <br>
	  
	  <h1 class="page-heading" style="font-family:Tangerine;font-size:72px;font-weight:400;line-height:80%;">Kurzportrait</h1>
	  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351616985" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <p><a href="https://vimeo.com/351616985">"IN MY TIME Rabatz - Kickermanufaktur"</a> produziert für <a href="https://servicestelle-heimat.de/macher/rabatz/">Servicestelle Heimat</a> von <a href="http://www.tsmediendesign.de/">TS MEDIENDESIGN</a></p>
	</center>
  
      </div>

    </main>

    {%- include footer.html -%}
    
  </body>

</html>
