---
layout: default
---

<div class="post">
  <h1 class="post-title" style="font-family:Tangerine;">Öffentlichkeit</h1>

  <h3>Kurzportrait</h3>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/351616985" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <p><a href="https://vimeo.com/351616985">"IN MY TIME Rabatz - Kickermanufaktur"</a> produziert für <a href="https://servicestelle-heimat.de/macher/rabatz/">Servicestelle Heimat</a> von <a href="http://www.tsmediendesign.de/">TS MEDIENDESIGN</a></p>

  <h1 class="post-title" style="font-family:Tangerine;">Presse</h1>

    <ul class="post-list">
      <li>
        <h3>
          <a class="post-link" href="https://www.tag24.de/nachrichten/vom-meer-zurueck-nach-bautzen-er-baut-jetzt-tischkicker-made-in-sachsen-andre-mirtschink-kicker-rabatz-1122338">
            Morgenpost 03.07.2019
          </a>
        </h3>
	<p style="text-align:center;">
	  <a href="https://www.tag24.de/nachrichten/vom-meer-zurueck-nach-bautzen-er-baut-jetzt-tischkicker-made-in-sach\
sen-andre-mirtschink-kicker-rabatz-1122338">
	    <img src='{{ site.baseurl }}/images/presse/201907_MoPo.jpg'>
	  </a>
	</p>

      </li>

      <li>
        <h3>
          <a class="post-link" href="https://www.saechsische.de/plus/zurueck-in-bautzen-mit-kickern-marke-eigenbau-5088285.html">
            Sächsische Zeitung 28.6.2019
          </a>
        </h3>
	<p style="text-align:center;">
	  <a href="https://www.saechsische.de/plus/zurueck-in-bautzen-mit-kickern-marke-eigenbau-5088285.html">
	    <img src='{{ site.baseurl }}/images/presse/201906_SZ.jpg'>
	  </a>
	</p>

      </li>
</ul>

</div>
